<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div style="height: 100px; text-align: center; justify-content: center">
      <h3>Okay! I am on AIR!</h3>
    </div>
  </body>
</html>
